html, body, input { margin: 0; padding: 0; box-sizing: border-box;}
button, .btn_delete, #btn_update, #btn_update_enter { background: #e8e8e8; color: black; font-size: 18px; cursor: pointer; font-weight: bold;}
.list-box { width: 80%; margin: 100px auto; border: 1px solid #eee; padding: 20px 30px 50px; background: white; }
.list-box h1 { padding-bottom: 10px; text-align: center; color: black; border-bottom: 1px solid #87898f; padding-bottom: 30px;}
.write-box { width: 100%; height: 35px; font-size: 0; }
.write-box input { width: 90%; font-size: 20px; border: 1px solid #cacaca; height: 123%; }
.write-box button { width: 10%; border: none; height: 130%; }
.list-table { border-spacing:0px; border-collapse: collapse; width: 100%; margin: 20px 0; height: 100%;}
th, td { border: 1px solid #ddd; padding: 10px 20px; font-size: 20px; }
th { background: #e8e8e8; }
td { color: black; }
tbody td:first-child { text-align: center; }
.btn-area { text-align: center; }
.btn-area button, .btn_delete, #btn_update, #btn_update_enter { height: 35px; padding: 0 10px; border: none; }
.out{width: 100%; height: 100%;}
.input_form{ margin: 50px 0px 50px 0px;}
tbody { height: 80%;}
#btn_update, #btn_update_enter{float: right;}
.content_input { width: 80%; height: 100%; border: none;}
.content_input:focus {outline:none;}
.p_content{width: 90%; float: left;}
.btn-chk{transform: scale(2)}